{% extends '::base.html.twig' %}

{% block title %}
    <title>Kota</title>
{% endblock %}

{% block header -%}
	<li class="active"><a href="/">Home</a></li>
    <li><a href="/kota">Kota</a></li>
    <li><a href="/provinsi">Provinsi</a></li>
{% endblock %}

{% block body -%}
	<h1>Hello !</h1>
{% endblock %}
